{% extends "base.html" %}

{% block content %}
  {% if post.user.id == request.user.id %}
    <a href="{% url 'post:post_delete' post.id %}" class="btn btn-danger"> Delete </a>
    <a href="{% url 'post:post_update' post.id %}" class="btn btn-primary"> Update </a>
  {% endif %}
  {# in date miad va nahve namayesh tarikh ro avaz mikone ke ba horof mizarimesh#}
  <p>
    <a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }} </a>
    | {{ post.updated|date:"Y-M" }}
  </p>
  <p> {{ post.body }} </p>

{% endblock %}