{% extends "base.html" %}

{% block content %}
  {% if post.user.id == request.user.id %}
    <a href="{% url 'post:post_delete' post.id %}" class="btn btn-danger"> Delete </a>
    <a href="{% url 'post:post_update' post.id %}" class="btn btn-primary"> Update </a>
  {% endif %}
  {# in date miad va nahve namayesh tarikh ro avaz mikone ke ba horof mizarimesh#}
  <p>
    <a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }} </a>
    | {{ post.updated|date:"Y-M" }}
  </p>
  <p> {{ post.body }} </p>
  <hr/>
    <p> Total comments = {{ comments.count }} </p>
  <hr/>
  {% for comment in comments %}
    <div class="card bg-dark text-white">
      {# this timesince is a filter which tell us how much time passed #}
      <p class="card-header"> {{ comment.user }} | {{ comment.created|timesince }} </p>
      <p class="card-body"> {{ comment.body }} </p>
    </div>
  {# this empty only runs when there is nothing in out for loop we use it for no comments#}
  {% empty %}
    <p> No Comments yet ! </p>
  {% endfor %}


{% endblock %}